.header {
    position: sticky;
    background-color: red;
    height: 64px;
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.header__burger-button {
    display: none;
}

@media screen and (max-width: 840px) {
    .header__burger-button {
        display: block;
    }
    
}



.header__home-link.logo {
    display: block;
    height: 56px;
    width: 56px;
    margin-top: 3px;
    background-color: black;
    grid-column: 6/8;
    justify-self: center;
}

.header__links-container {
    grid-column: 11/ 13;
    justify-self: start;
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.header__links-container a {
    text-decoration: none;
    color: black;
}