.header {
    position: sticky;
    background-color: rgb(255, 0, 0);
    height: 64px;
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.header__burger-button {
    display: none;
}


.header__home-link.logo {
    display: block;
    height: 56px;
    width: 56px;
    margin-top: 3px;
    background-color: black;
    grid-column: 6/8;
    justify-self: center;
}

.header__links-container {
    grid-column: 11/ 13;
    justify-self: start;
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.header__links-container a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 840px) {
    .header__burger-button {
        display: block;
        grid-column: 4/6;
        order: 1;
    }

    .header {
        width: 100%;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    
    .header__home-link.logo {
        grid-column: 2/4;
        justify-self: center;
    }

    .header__links-container {
       display: none;
    }

    .header__links-container-mobile {
        position: absolute;
        top: 64px;
        right: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height:50px;
        gap: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        background-color: gray;
    }

    .header__links-container-mobile a {
        text-decoration: none;
        color: black;
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 841px) {
    .header__links-container {
        display: block;
    }
}

.is-hidden {
    display: none;
}